nav {
    overflow: hidden;
    background-color: #07edfd75;
    position: flex;
    top: 0; 
    width: 100%;
}
nav {
    display: block;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav :hover {
    background: #ddd;
    color: rgb(255, 255, 255);
}
.menu {
display: flex;
justify-content: center;
}

li {
    width: calc((100% / 3) - 20px);
    margin: 20px;
    }
.header {
    position: flex;
    justify-content: flex-end;
    width: 100%;
}
.logo {
margin-left: auto;
background-image: url(/assets/img/but3.png);
background-size: contain;
min-height: 50px;
background-repeat: no-repeat;
width: 50px;
}

header {
background-color: rgba(23, 207, 244, 0.871); 
width: 100%;
font-size: 20px; 
font-style: normal;
font-family: Arial, Helvetica, sans-serif;
text-align: left;
}
.title{
    font-size: 50px; 
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    color: #2007fd75;   
}
.root {
    display: flex;
    background: rgba(235, 7, 216, 0.53);  
    min-height: 500px;   
    width: 100%;
    font-size: 20px; 
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-direction: column;
    padding: 20px 10px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.foto {
    background-color: aliceblue;
    border-radius: 40px;
    min-height: 30px;
    width: 30%;
}
.card {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
width: 100%;    
}
.sub {
    color: rgb(2, 14, 255);
}
footer {
    justify-content: space-around;
    display: flex;
    background: rgba(8, 232, 79, 0.404); 
    height: 150px;   
    width: 100%;
    font-size: 15px; 
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
        } 
        .child{
            width: calc((100% / 3) - 10px);
            margin: 20px;
        }
    .child-1 {
    background-image: url(/assets/img/1.jpg);
    background-size: 100px;
    min-height: 50px;
    background-repeat: no-repeat;
    width: 100px;
    padding: 30px;
    }
    .child-2 {
    background-size: 100px;
    min-height: 50px;
    background-repeat: no-repeat;
    width: 100px;
    background-image: url(/assets/img/2.jpg);
    padding: 30px;
    }
    .child-3 {
    background-size: 100px;
    min-height: 50px;
    background-repeat: no-repeat;
    width: 100px;    
    background-image: url(/assets/img/3.jpg);
    padding: 30px;
    }